.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container > .half-row {
  flex: 0 0 50%;
  max-width: 50%;
}
.container > .full-row {
  flex: 0 0 100%;
  max-width: 100%;
}
.container > .two-third-row{
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.container > .one-third-row{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.border-box {
  box-sizing: border-box;
}
