#facebook-page {
  margin-right: 32px;
  background-image: url('../assets/facebook-gray.svg');
}
#instagram-page {
  margin-right: 32px;
  background-image: url('../assets/instagram-gray.svg');
}
#twitter-page{
  margin-right: 32px;
  background-image: url('../assets/twitter-gray.svg');
}
#main-logo {
  margin-bottom: 30px;
  justify-content: center;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
