.margin-top-25 {
  margin-top: 25px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-55 {
  margin-top: 55px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-bot-15 {
  margin-bottom: 15px;
}
.margin-bot-30 {
  margin-bottom: 30px;
}
.margin-bot-70 {
  margin-bottom: 70px;
}
.margin-bot-100 {
  margin-bottom: 100px;
}

.padding-bot-45 {
  padding-bottom: 45px;
}
.padding-x-15 {
  padding: 0 15px;
} 
.padding-x-40 {
  padding: 0 40px;
}
