:root {
  --detail-red: #DF2143;
  --detail-blue: #085475;
  --detail-orange: #E79023;
  --secondary-background: #EEF1F1;
  --dark-background: #00202E;
  --title-blue: #00202E;
  --font-white: #FFFFFF
}
